{
    "root": true,
    "env": {
        "node": true
    },
    "extends": [
        "plugin:vue/essential",
        "eslint:recommended"
    ],
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 2015,
        "ecmaFeatures": {
            "legacyDecorators": true
        }
    },
    "rules": {}
}
